main {
  text-align: center;
  vertical-align: center;
  overflow: hidden;
  height: 100vh;
}

.item {
  background: #fff;
  border: 1px solid #e1e8ed;
  border-radius: 2px;
  margin-bottom: 15px;
  padding: 5px;
  max-width: 260px;
  margin-left: auto;
  margin-right: auto;
}

.item a {
  text-decoration: none;
  color: #0085b6;
}

.item p {
  max-width: 250px;
}

.loader {
  margin-bottom: 100px;
}

.loader img {
  width: 150px;
}